RUNNER_REPOSITORY_URL=https://github.com/bigfred2002/ruche360
RUNNER_REGISTRATION=
RUNNER_NAME=rucher360-local-docker
RUNNER_LABELS=rucher360,local,docker,devsecops
RUNNER_WORKDIR=_work
RUNNER_VERSION=2.335.1
